@use "navigation";
@use "mixins";
@use "firstpage";
@use "secpage";
@use "thirdpage";
@use "footer";
@use "fourthpage";
@use "fifthpage";
// @use "media-query/main-mediaQ.scss";  /*  might not need this will do it one page itself */