// @use 'mixins';
// MEDIA QUERY MANAGER 
/* 
0 - 600px:      phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscapr
[]1200 - 1800px:]   is where our normal sttyles apply 
1800px + :  Big desktop
*/
                        /*  order base + toptography > general layout*/

                            /* ORDER of Query is [tab-land, tab-port, big-desktop]*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content ;}      /*600px*/
    }
    @else if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content ;}     /*900px*/
    }
    @else if $breakpoint == tab-land {
        @media (max-width: 75em) { @content ;}        /*1200px*/
    }
    @else if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content ;}     /*1800px*/
    }
}