@use 'mixins';

$blue1: #40B5BC;
$blue2: #3c9abc;
$plain: #D3DACE;
$green1: #b0d79f;
$green2: #cbe6c0;
$neonBlue:#245704f0;
$neongreen:#2FFF00;
@mixin unique-gradient($blue1, $blue2, $direction: 360deg) { //is a metaliic 
    background: linear-gradient(
        $direction,
        $blue1 0%,
        $blue2 25%,
        $blue1 50%,
        $blue2 75%,
        $blue1 100%
        );
    }
body {
    padding-top: 70px;
    background-color: $plain;
}
.Nav-Links {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $blue1;
    z-index: 10; 
    @include unique-gradient($blue1,$blue2);
  display: flex;
  justify-content: center;
  align-items: center;
}
          // Hide checkbox 
#nav-toggle {
  display: none;
}
.ul-List {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

li {
  padding: 1em 3em 1em 1em;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: white;

  &:hover {
    background-color: $green1;
    border-radius: 50px;
    padding: 0.5em 1em;
  }
}
}
      // hamburger
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;

    span {
      height: 3px;
      width: 25px;
      background-color: white; 
      margin: 4px 0;
      border-radius: 2px;
      transition: 0.3s;
    }
  }
            ////MEDIA Q////
      @media (max-width: 768px) {
        .Nav-Links {
          justify-content: space-between;
          padding: 1rem 2rem;
          
        }
        .hamburger {
          display: flex;
        }
        .ul-List {
          position: fixed;
          top: 70px;
          left: 0;
          width: 100%;
          background: $blue1;
          flex-direction: column;
          display: none;
          z-index: 20;
           @include unique-gradient($blue1,$blue2);
        
        li {
          width: 100%;
          padding: 1rem 2rem;
          text-align: left;
        }
      }
    }
        //////TOGGLE/////
#nav-toggle:checked ~ .ul-List {
  display: flex;
}
#nav-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#nav-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}

#nav-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}


        ////////////////////////
        /// 
          //  MEDIA QUERIES
// MEDIA QUERY MANAGER 
/* 
0 - 600px:      phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscapr
[]1200 - 1800px:]   is where our normal sttyles apply 
1800px + :  Big desktop
*/

