$blue1: #40B5BC;
$blue2: #3c9abc;
$plain: #D3DACE;
$green1: #b0d79f;
$green2: #cbe6c0;
$neonBlue:#245704f0;
$neongreen:#2FFF00;
main {
    background-color: $plain; 
    display: grid;
}

.name {
    font-size: 32px;
}



.main-content_container {
 font-family: Georgia, 'Times New Roman', Times, serif;
    order: 2px solid #a8d5ba; 
    background-color: $plain;
    display: flex;
    flex-direction: column;
    color: $neonBlue;
   align-items: center;
}
.Pro.dev,
.tech.dev,
.Personal.dev {
    text-transform: uppercase;
}
.question-text {
    text-transform: uppercase;
    text-align: center;
}
 .reflection-paragraph {
  border: 2px solid #a8d5ba; 
  
  background-color: #e8f8ee; 
  color: #3a5743; 
  border-radius: 10px;
  padding: 16px 24px;
  max-width: 500px; 
  text-align: center;
  line-height: 2;
  box-shadow: 0 4px 10px rgba(168, 213, 186, 0.3);
}