     /* section hero image */
$blue1: #40B5BC;
$blue2: #5AC6C6;
$plain: #D3DACE;
$green1: #b0d79f;
$green2: #cbe6c0;
$neonBlue:#0D00FF;
$neongreen:#2FFF00;

main {
    background-color: $plain;
    display: grid;
}
                    /* slide show using animations */
.keyframe-Slideshow {
    animation-name: moveInLeft;
    animation-duration: 5s;
}
.keyframe-Slideshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

                    /* slideshow animation 3 pics */
.main_pic_container-slideshow {
    position: relative; 
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
    }
.main_pic_container-slideshow img {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: fade 15s infinite;
        // opacity:0;
}

.main_pic_container-slideshow img:nth-child(1) {animation-delay:0s;}
.main_pic_container-slideshow img:nth-child(2) {animation-delay:5s;}
.main_pic_container-slideshow img:nth-child(3) {animation-delay:10s;} 
@keyframes fade {
    0%, 20% {opacity: 0;}
    25%, 45% {opacity: 1;}
    50%, 100% {opacity: 0;}
    // 50% {opacity: 0;}
    // 100% {opacity: 0;}
    }


/* animation using keyframes*/
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
/* bio section */
.bio {
    padding: 15px;
    // margin: 10vh;
    border: solid 20px #2FFF00;
    border-radius: 80px;
    justify-content: space-between;
}
                    /* first parargraph */
.first_paragraph {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2;
}
.second_paragraph{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2;
}
.third_paragraph {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2;
}
