.name {
    font-size: 32px;
}
.account-content {
    display: flex;
    justify-content: center;
    width: 45rem;
    margin: 4rem auto;
    /* padding: 2rem; */
    background-color: #FDFBD4;
    border-radius: 12px;
    box-shadow: 0px, 4px, 10px, rgba(0,0,0,0.4);
}