.name {
    font-size: 32px;
}
.resume-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
// margin: 10px 20vh;
}
                // maybe add more stuff to it later//
