
    //   dont need thhis will be writing the media queries on the pages


/*
    @media (max-width:768px) {

    nav .Nav-Links  {
        font-size: 5px;
        display: inline-flex;
        width: auto;
        // justify-content: space-around;
        flex-direction: row;
        // padding: 7em 5em;
        margin: 0;
    }
    // a {
    //     // font-size: 1em;
    //     padding: .5em .5em;
    // }
}
@media (max-width: 576px) {
    nav .Nav-Links {
        // font-size: 0em;
        display: inline-flex;
        flex-direction: row;
        // padding: 7em 5em;
    }
    .bio p {
        font-size: 15px;
        line-height: 1.5;
    }
}
/*          desktop first

*/