                    /* fix the navigation so it looks the same although out  */
body{
    background-color: #d3dace;
    
}
/* Navigation links */
.Nav-Links {
    display: block;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #40b5bc;
    color: #b0d79f;
}
.ul-List li {
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 6rem;
}
.Nav-Links a {
    text-decoration: none;
    color: #0D00FF;
}
.Nav-Links li a:hover {
    text-decoration: none;
    background-color: #b0d79f;
}
.account-content {
    display: flex;
    justify-content: center;
    width: 45rem;
    margin: 4rem auto;
    /* padding: 2rem; */
    background-color: #FDFBD4;
    border-radius: 12px;
    box-shadow: 0px, 4px, 10px, rgba(0,0,0,0.4);
}
                            /* footer logo image*/
.imgfooter{
width: 50px;
height: 50px;
display: inline-flex;
                /* come back to fix size and  */
}